.noselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.fill-white {
  fill: white;
}

.nav {
  position: relative;
  z-index: 3;
  background-color: #000000;
  color: white;
  font-family: 'Inter-Medium';
}
.nav__flexbox {
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin: auto;
}
.nav__item1 {
  display: flex;
}
.nav__item2 {
  display: flex;
  justify-content: space-evenly;
}
.nav__item3 {
  position: relative;
  display: flex;
}
.nav__logoBtn {
  background-color: black;
  text-decoration: none;
  width: 160px;
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
}
.nav__logoBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nav__normalBtn {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  width: 160px;
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
}
.nav__normalBtn:hover {
  cursor: pointer;
}
.nav__normalBtn:hover::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.nav__normalBtn::after {
    content: '';
    position: absolute;
    width: 50%;
    text-align: center;
    bottom: 20px;
    left: 40px;
    height: 1px;
    background: #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
    transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
    transition: transform .6s cubic-bezier(.19,1,.22,1);
    transition: transform .6s cubic-bezier(.19,1,.22,1),-webkit-transform .6s cubic-bezier(.19,1,.22,1);
}
#nav__account-btn {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  width: 160px;
  height: 60px;
  line-height: 60px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-transform: uppercase;
}
#nav__account-btn:hover {
  cursor: pointer;
}
#nav__account-btn::after {
  content: '';
  position: absolute;
  width: 80%;
  text-align: center;
  bottom: 20px;
  left: 15px;
  height: 1px;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
  transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
  transition: transform .6s cubic-bezier(.19,1,.22,1);
  transition: transform .6s cubic-bezier(.19,1,.22,1),-webkit-transform .6s cubic-bezier(.19,1,.22,1);
}
#nav__account-btn:hover::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
#nav__account-btn-arrow {
  padding-left: 5px;
}
#nav__account {
  display: none;
  background-color: white;
  color: black;
  width: 300px;
  position: absolute;
  top: 60px;
  right: 0px;
  padding-top: 19px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0px 2px 20px 1px rgba(118,118,118,.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #d4dbe0;
  box-shadow: 0 1px 8px 0 rgba(118,118,118,.3);
}
.nav__login-btn {
  display: flex;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 100%;
  justify-content: center;
  background: black;
  height: 60px;
  line-height: 60px;
}
.nav__register-btn {
  display: flex;
  color: #000000;
  text-decoration: none;
}

.nav__account_profile {
  padding-bottom: 19px;
  border-bottom: solid 1px #000000;
}
.nav__account_profile p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.nav__account_middle {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px #000000;
}
.nav__account_bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav__account-settings-btn {
  color: #000000;
  text-decoration: none;
}
.nav__account-logout-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-transform: capitalize;
}